{% extends 'musicTribes/index.html' %} {% block content%}

<!-- Change password -->

{% if messages %} {% for message in messages %}
<script>
    alert('{{ message }}');
</script>

{% endfor %} {% endif %}

<div class="container">
    <h3>Change your password</h3>
    <br>
    <form method="post">
        {% csrf_token %} {{ form.as_p }}
        <button type="submit" class="btn btn-success">Update password</button>
    </form>
    <br>
</div>

{% endblock %}