{% extends 'musicTribes/index.html' %}{% block content %} {% load crispy_forms_tags %}

<!--Edit profile-->

{% if messages %} {% for message in messages %}
<script>
    alert('{{ message }}');
</script>

{% endfor %} {% endif %}

<div class="container">
    <h3>Edit your profile info</h3>
    <br>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %} {{ form.as_p }} {{ form_image.as_p}}
        <button type="submit" class="btn btn-success">Update account</button>
    </form>
    <br>
    <span>Do you want to change your password? </span>
    <a href="{% url 'change_password' %}">Click here</a>
</div>

{% if request.user.profile.profile_pic %}
<div class="container card card-body" style="margin-top: 20px;">
    <img class="profile-pic" src="{{request.user.profile.profile_pic.url}}">
</div>
{% endif %} {% endblock %}