{% extends 'musicTribes/index.html' %} {% block content %}

<!--messages-->
{% if messages %} {% for message in messages %}
<script>
    alert('{{ message }}');
</script>

{% endfor %} {% endif %}

<a href="{% url 'tribe_details' tribe.id %}" style="margin-left: 15px;">Back to tribe page</a>

<div class="container-fluid d-flex justify-content-center" style="margin-top: 30px;">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="card panel-form">
                <h3 class="page-title">Edit {{playlist.name}}</h3>
                {% if error_message %}
                <p><strong>{{ error_message }}</strong></p>
                {% endif %}
                <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %} {% include 'form_template.html' %}
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-info" style="width: 310px;">Update</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}