{% extends 'musicTribes/index.html' %}{% block content %}

<!---->

{% if messages %} {% for message in messages %}
<script>
    alert('{{ message }}');
</script>

{% endfor %} {% endif %}

<h1 style="text-align: center; margin-top: 20px; margin-bottom: 20px;">Log in</h1>

<div class="container d-flex justify-content-center">
    <form method="POST">
        {% csrf_token %} {{form.as_p}}
        <button style="width:100%;" class="btn btn-outline-info" type="submit">Login</button>
    </form>
</div>
<br>
<span class="d-flex justify-content-center">Don't have an account? <a href="{% url 'register' %}" target="blank"><strong>Register here</strong></a>!</span> {% endblock %}