{% extends 'musicTribes/index.html' %} {% block content %}

<!--messages-->
{% if messages %} {% for message in messages %}
<script>
    alert('{{ message }}');
</script>

{% endfor %} {% endif %}

<a href="{% url 'tribe_details' tribe.id %}" style="margin-left: 15px;">Back to tribe page</a>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">{{ playlist.name }}</h1>
        <span style="margin-top: 2px; color: orange;">Created {{ playlist.created_at }} by {{playlist.user}}</span>
        <p style="width: 400px; opacity: 0.8;">Description: {{ playlist.description }}</p>

        {% if user.is_authenticated and tribe.user == user or user in tribe.member.all %}
        <a href="{% url 'add_track' tribe.id playlist.id%}" style="font-size:32px; margin:auto; margin-top:30px; margin-left: 470px;">Add new track <i class="fa fa-plus" aria-hidden="true"></i></a> {% endif %}
    </div>
</div>

{% if tracks %} {% for item in tracks %}
<div class="container p-3 my-3 border" style="background-color: rgb(240, 240, 240); height: 120px;">
    <a href="{{ item.track.youtube_url }}" target="_blank"> <i id="play" class="fa fa-play" aria-hidden="true" style="float: right; font-size: 90px; color: orange;" title="Play"></i> </a>
    <h2>{{item.track.artist}} - {{item.track.title}} ({{item.track.duration}} mins) </h2>
    <span style="color: orange;">by {{ item.track.user }}</span>

    <!--delete track-->
    {% if tribe.user == user or user.is_superuser or item.track.user == user%}
    <form action="{% url 'delete_track' tribe.id playlist.id item.track.id %}" method="post"> {% csrf_token %}
        <span style="float: right; margin-right: 40px;"><button style="padding: 0;border: none; background: none; color: red;" type="submit">Delete</button></span>
    </form>
    {% endif %}

    <!--like/unlike buttons-->
    {% if tribe.user == user or user in tribe.member.all %}
    <div style="margin-top: 2px;">
        <form action="{% url 'upvote' tribe.id playlist.id item.track.id %}" method="post" role="form" class="form-inline float-left">
            {% csrf_token %}
            <button type="submit" style="padding: 0;border: none; background: none; margin-right: 5px; color: gray; opacity: 0.8;"><i class="fa fa-thumbs-up" aria-hidden="true"></i></button>
        </form>

        <span class="vote-score float-left">{{ item.track.upvote_score }}</span>

        <form action="{% url 'downvote' tribe.id playlist.id item.track.id %}" method="post" role="form" class="form-inline float-left">
            {% csrf_token %}
            <button type="submit" style="padding: 0;border: none; background: none; margin-left: 20px; margin-right: 5px; color: gray; opacity: 0.8;"><i class="fa fa-thumbs-down" aria-hidden="true"></i></button>
        </form>

        <span class="vote-score float-left">{{ item.track.downvote_score }}</span>
    </div>
    {% else %}
    <div style="margin-top: 2px;">
        <form action="" method="post" role="form" class="form-inline float-left">
            {% csrf_token %}
            <button style="padding: 0;border: none; background: none; margin-right: 5px; color: gray; opacity: 0.8;"><i class="fa fa-thumbs-up" aria-hidden="true"></i></button>
        </form>

        <span class="vote-score float-left">{{item.track.upvote_score }}</span>

        <form action="" method="post" role="form" class="form-inline float-left">
            {% csrf_token %}
            <button style="padding: 0;border: none; background: none; margin-left: 20px; margin-right: 5px; color: gray; opacity: 0.8;"><i class="fa fa-thumbs-down" aria-hidden="true"></i></button>
        </form>

        <span class="vote-score float-left">{{ item.track.downvote_score }}</span>
    </div>{% endif %}

    <!--comments section-->
    {% if item.comments %}
    <span class="show_hide">Comments ({{item.comments.count}})</span> {% elif tribe.user == user or user in tribe.member.all%}
    <span class="show_hide">Comment</span> {% else %}
    <span class="show_hide">Comments ({{item.comments.count}})</span> {% endif %}
</div>

<div class="comments_section container" style="display: none;">

    {% if item.comments %} {% for comment in item.comments%}
    <div class="comment_container">
        <!--delete comment-->
        {% if user.is_authenticated and tribe.user == user or user.is_superuser %}
        <form action="{% url 'delete_comment' tribe.id playlist.id comment.id %}" method="post" style="float: right;"> {% csrf_token %}
            <button class="delete_comment" style="padding: 0;border: none; background: none;" title="Delete"><i class="fa fa-times" aria-hidden="true"></i></button>
        </form>
        {% endif %}
        <img src="{{comment.image.url}}" alt="Avatar">
        <p>{{comment.text}}</p>
        <span class="time-right">Sent: {{comment.created_at}} || Author: {{comment.user}}</span>
    </div>
    {% endfor %} {% else %}
    <span style="margin-left: 87px;">Nobody commented yet!</span> {% endif %}

    <!--comment form-->
    {% if tribe.user == user or user in tribe.member.all%}
    <div class="comment_container">
        <form role="form" action="{% url 'comment' tribe.id playlist.id item.track.id%}" method="post" enctype="multipart/form-data">
            {% csrf_token %} {% include 'comment_send.html' %}
            <button id="leave_comment" type="submit" name="comment" id="comment">Leave Comment</button>
        </form>
    </div>
    {% endif %}


</div>
{% endfor %} {% else %}
<h6 style="text-align: center; margin-top: 150px;">The playlist is empty!</h6>
{% endif %} {% endblock %}