{% extends 'musicTribes/index.html' %} {% block content %}

<!--messages-->
{% if messages %} {% for message in messages %}
<script>
    alert('{{ message }}');
</script>

{% endfor %} {% endif %}

<!--tribe members-->
{% if user.is_authenticated %}
<div id="tribe_members" style="float:right; margin-right: 380px; margin-top: 10px; border: 2px solid black; background-color: rgb(81, 122, 206);">
    <h4>Tribe members</h4>
    <hr>
    <p style="text-align: center;">{{ tribe.user }} <span class="iconify" data-icon="fa-solid:crown" data-inline="false" style="margin-bottom: 7px; color: orange;"></span></p>
    {% for member in members %}
    <hr>
    <div style="margin-bottom: 18px;">
        <span style="margin-left: 25px;">{{member}}</span> {% if tribe.user == user %}
        <form action="{% url 'kick_member' tribe.id member%}" method="post" style="display: inline-block; margin-left: 10px; margin-right: 5px;"> {% csrf_token %}
            <button type="submit" style="padding: 0;border: none; background: none; color: red;"> 
            Kick <i class="fa fa-user-times" aria-hidden="true"></i></a>
        </button>
        </form>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endif %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">{{ tribe.name }}</h1>
        <!---->
        {% for member in members %} {% if user == member and tribe.user != user%}
        <div style="float: left;">
            <span style="color: green;">Joined <i class="fa fa-check" aria-hidden="true"></i></span> <br>
            <form action="{% url 'leave_tribe' tribe.id user%}" method="post">{% csrf_token %}
                <button type="submit" style="padding: 0;border: none; background: none; color: red;">Leave</button>
            </form>
        </div>
        {% endif %} {% endfor %}
        <!---->
        {% if user.is_authenticated and tribe.user != user and user not in tribe.member.all%}
        <div>
            <form action="{% url 'join_tribe' tribe.id%}" method="post">{% csrf_token %}
                <button type="submit" style="padding: 0;border: none; background: none; color: green;">Join this tribe <i class="fa fa-user-plus" aria-hidden="true"></i></button>
            </form>
        </div>
        {% endif %}
        <!---->
        {% if tribe.user == user %}
        <a href="{% url 'create_playlist' tribe.id%}" style="font-size:32px; margin:auto; margin-top:30px; margin-left: 320px;">Create new playlist <i class="fa fa-plus" aria-hidden="true"></i></a> {% endif %}
    </div>
</div>

<button class="open-button" onclick="openForm()">Chat</button>

<div class="chat-popup" id="myForm">
    <div class="form-container">
        <h1>Chat</h1>
        <div id="messages_box" style="height:350px; overflow: scroll;">
            {% for message in messages_ %}
            <hr>
            <img src="{{message.image.url}}" alt="Avatar" style="float: left; max-width: 50px; width: 100%; margin-right: 20px; border-radius: 50%; height: 50px;"> {% if message.user == tribe.user %}
            <p style="display: inline; color: orange;">{{message.user}}<span class="iconify" data-icon="fa-solid:crown" data-inline="false" style="margin-bottom: 7px; color: orange;"></span>: {{message.text}} <br><span>{{ message.created_at }}</span></p>
            {% else %}
            <p style="display: inline;">{{message.user}}: {{message.text}} <br><span>{{ message.created_at }}</span></p>
            {% endif %}

            <!--send message-->
            {% if user.is_authenticated and tribe.user == user%}
            <span style="display: inline; float:right">
            <form action="{% url 'delete_message' tribe.id message.id%}" method="post" > {% csrf_token %}
                <button class="delete_message" style="padding: 0;border: none; background: none; margin-bottom: 40px;" title="Delete"><i class="fa fa-times" aria-hidden="true"></i></button>
            </form>
        </span>{% endif %} <br> {% endfor%}
        </div>
    </div>
    <form class="form-container" role="form" action="{% url 'send_message' tribe.id%}" method="post" enctype="multipart/form-data">
        {% csrf_token %} {% if tribe.user == user or user in tribe.member.all%} {% include 'message_send.html' %}
        <button type="submit" class="btn">Send</button> {% endif %}
        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
    </form>
</div>

<script>
    function openForm() {
        document.getElementById("myForm").style.display = "block";
        document.getElementById("tribe_members").style.marginRight = "380px";
    }

    function closeForm() {
        document.getElementById("myForm").style.display = "none";
        document.getElementById("tribe_members").style.marginRight = "20px";
    }

    window.onload = function() {
        var objDiv = document.getElementById("messages_box");
        objDiv.scrollTop = objDiv.scrollHeight;
    }
</script>

{% for playlist in playlists %}
<div class="p-3 my-3 bg-primary text-white w-50">
    <a href="{% url 'playlist_details' tribe.id playlist.id%}" style="color: orange;">
        <h1>{{ playlist.name }}</h1>
    </a>
    {% if tribe.user == user %}
    <form action="{% url 'delete_playlist' tribe.id playlist.id%}" method="post"> {% csrf_token %}
        <span style="float: right;"><button type="submit" class="btn btn-danger">Delete</button></span>
    </form>
    <form action="{% url 'edit_playlist' tribe.id playlist.id%}" method="post"> {% csrf_token %}
        <span style="float: right; margin-right: 10px;"><button type="submit" class="btn btn-dark">Edit</button></span>
    </form>
    {% endif %}
    <p>{{ playlist.description }} || by: {{ tribe.user }}</p>
</div>
{% endfor %} {% endblock %}