{% for field in form %}
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <span class="text-danger small">{{ field.errors }}</span>
    </div>
    {% if field.name == 'duration' %}
    <label class="control-label col-sm-2">{{ field.label_tag }}</label> <span style="margin-left: 10px;">(in minutes)</span>
    <div class="col-sm-10"><input type="number" name="duration" value="0" required id="id_duration" style='width: 40px;'></div>
    {% else %}
    <label class="control-label col-sm-2">{{ field.label_tag }}</label>
    <div class="col-sm-10"><input type="text" name="{{field.name}}" required style='width: 400px;'></div>
    {% endif %}
</div>
{% endfor %}